body {
    background-color: rgb(7, 7, 7);
    color: rgb(219, 14, 14);
    font-family: "Felipa", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    margin: 0;
}
main{
    margin: 100px; 
    text-align: justify;
    text-align: center;
    max-width: 60%;
    font-size: 30px;
    
}
button {
    background-color: rgb(194, 15, 15);
    color: black;
    font-family: "Felipa", serif;
    font-size: 29px;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

img {
    max-width: 70%;
}
    
